<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to ShopEase</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h2>ManasMart</h2>
        <div class="line"></div>
    </header>
    <div class="container">
        <h1>Experience the Future of Shopping</h1>
        <div class="options">
            <form action="/register" method="GET">
                <button class="button" type="submit">Create Account</button>
            </form>
            <form action="/login" method="GET">
                <button class="button" type="submit">Login to Your Account</button>
            </form>
        </div>
    </div>
</body>
</html>
